header
    .navbar__container
        .navbar__container--left
            img(src="./assets/logo.png", alt="logotipo")
            .navbar__info
                h1 #{title_header}
                p  #{description_header}

        .navbar__container--center: img(src="", alt="Logotipo")

        .navbar__container--right
            img(src="", alt="Search")
            img(src="", alt="User")
            img(src="", alt="Shopping")
